body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile-card {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.profile-card:hover {
    box-shadow:  0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.profile-card img {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 0.8rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

button i {
    margin-right: 1rem;
}